{% include header.html %}

<section id="main-content">

    {{ content }}

</section>

<aside id="sidebar">
    <h3>WikiBrain:</h3>
    <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li> <a href="https://groups.google.com/forum/#!forum/wikibrain">Google group</a></li>
        <li> <a href="https://groups.google.com/forum/#!forum/wikibrain">Publications</a></li>
    </ul>

    <h3>Manual:</h3>
    <ul>
        <li><a href="{{ site.baseurl }}/tutorial/quickstart.html">Quickstart</a></li>
        <li><a href="{{ site.baseurl }}/tutorial/installation.html">Installation</a></li>
        <li><a href="{{ site.baseurl }}/tutorial/configuration.html">Configuration</a></li>
        <li><a href="{{ site.baseurl }}/tutorial/importing.html">Importing data</a></li>
        <li><a href="{{ site.baseurl }}/tutorial/sr.html">Semantic relatedness</a></li>
        <li><a href="{{ site.baseurl }}/tutorial/wikidata.html">Wikidata</a></li>
        <li><a href="{{ site.baseurl }}/tutorial/spatial.html">Spatial</a></li>
    </ul>

    <h3>Maven dependency:</h3>
{% include maven.html %}

    <a href="https://github.com/shilad/wikibrain/zipball/master" class="button">
        <small>Download</small>
        .zip file
    </a>

    <p class="repo-owner"><a href="https://github.com/shilad/wikibrain"></a> is maintained by <a href="http://shilad.com">Shilad Sen</a>, <a href="http://brenthecht.com">Brent Hecht</a>, and <a href="https://github.com/shilad/wikibrain/graphs/contributors">many others</a>.</p>

    <p>This page uses the <a href="https://pages.github.com">GitHub Pages</a> Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
</aside>

{% include footer.html %}
